<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CSC373 Assignment 2 — page two</title>
    <link rel="stylesheet" href="../style.css">
    <script src="script.js"></script>
  
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
  </head>
  
  
  <body>
    <div id="bannerimage"></div>
      
    <nav class="menu">
      <a href="../index.html">Home</a> &nbsp; | &nbsp; 
      <a href="./views/two.html">Two</a> &nbsp; | &nbsp; 
      <a href="./views/three.html">Three</a>
    </nav>
    

    <h1>Favorite Coding Resources</h1>
    
    <table>
     <caption>Where to learn more</caption>
      <thead>
        <tr>
          <th>Name</th> 
          <th>Site</th>
        </tr>
      </thead>
    
      <tbody>
        <tr>
          <td>W3Schools</td>
          <td><a href="https://www.w3schools.com" title="www.w3schools.com">www.w3schools.com</a></td>
        </tr>
        <tr>
          <td>Stack Overflow</td>
          <td><a href="https://stackoverflow.com" title="www.stackoverflow.com">www.stackoverflow.com</a></td>
        </tr>
        <tr>
          <td>YouTube</td>
          <td><a href="https://www.youtube.com" title="YouTube.com">YouTube.com</a></td>
        </tr>
      </tbody>
    </table>
    
    <hr>
    
  </body>
</html>